* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top left, #310052 0%, #0f83ff 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
